.main {
  height:100vh;
  background-color: royalblue;
  display: flex;
  justify-content: center;
}

.container{
  width: 80%;
  border: 1px solid;
  display:flex;
}

.greet{

}

.photo{
  height: 300px;
  width: 300px;
  background-color: burlywood;
}