.main {
  height:100vh;
  background-color: royalblue;
  display: flex;
  justify-content: center;
}

.container{
  width: 80%;
  border: 1px solid;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.greet{
  display: flex;
  flex-direction: column;
}

.photo{
  height: 300px;
  width: 300px;
  background-color: burlywood;
}