.rect {
  border: solid 1px black;
  
}
.circle {
  border: solid 1px black;
  border-radius: 50%;
}
.on {
  background-color: green;
}
.on :hover {
  background-color: greenyellow;
}
.off {
  background-color: red;
}
.off :hover {
  background-color: rosybrown;
}